.signInWrap {
  > p {
    font-size: 20pt;
    text-align: center;
    margin: 80px 0 50px 0;

    > b {
      color: var(--font-highlight-2);
    }

    &.goSignUp {
      font-size: 10pt;
      margin-top: 10px;

      > b {
        cursor: pointer;
      }
    }
  }

  > form {
    > input {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      outline: none;
      margin: 10px auto;
      border: none;
      padding: 10px;
      border-bottom: 1px solid #999;

      &[type=submit] {
        margin-top: 50px;
        background-color: var(--font-highlight-2);
        color: white;
        font-weight: bold;
        border-radius: 5px;
      }
    }
  }
}