.suggestionWrap {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;

  .leftSideViewBtn {
    position: absolute;
    z-index: 99999999;
  }

  .leftSide {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: .5s;
  }

  .rightSide {
    flex: 2;
    .suggestionItemsWrap {
      -moz-column-count: 1;
      column-count: 4;
      -moz-column-gap: 20px;
      column-gap: 20px;
      -moz-column-fill: balance;
      column-fill: balance;
      margin: 20px auto 0;
      padding: 2rem;
    }
  }
}