.suggestionItemCard {
  position: relative;
  display: inline-block;
  margin: 0 0 20px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  width: calc(100% - 10px);
  border-radius: 10px;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
  padding: 10px;
  pre {
    margin: 0 0 20px 0;
    padding: 10px;
    white-space: pre-line;
    word-break: break-word;
  }
  >p{
    position: absolute;
    font-size: 10pt;
    bottom: 10px;
    &.itemLike{
      left: 20px;
      color: var(--font-like-color);
    }
    &.itemDate{
      right: 20px;
    }
  }
}